.loginDesign{
    min-height: 85vh;
    width: 100vw;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
}

.containerDesign{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.registerOption{
    margin: 3em;
    cursor: pointer;
    text-align: center;
}