.loginDesign{
    height: 90vh;
    width: 100vw;
    background-color:gainsboro;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}