.registerDesign{
    min-height: 90vh;
    width: 100vw;
    background-color:gainsboro;
    color: darkslategray;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}