.formDesign{
    background-color: #C4D7B2;
    box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
    padding: 2em;
    text-align: start;
    width: fit-content;
    border-radius: 1em;
}

.inputDesign{
    margin: 0.5em;
    cursor: pointer;
}

.errorInput {
    color: red;
    margin-bottom: 0.5em;
}