.formDesign{
    border: 0.1em solid black;
    padding: 2em;
    text-align: start;
    width: fit-content;
}

.inputDesign{
    margin: 0.5em;
    cursor: pointer;
}

.errorInput {
    color: red;
    margin-bottom: 0.5em;
}