.homeDesign{
    min-height: 85vh;
    width: 100vw;
    background-color: beige;
    color: darkslategray;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
}