.allAppointmentsDesign{
    min-height: 85vh;
    width: 100vw;
}

.searchContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 2em;
}

.allAppointmentsContainer{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.eachAllAppointments{
    background-color: white;
    border-radius: 1em;
    padding: 0.5em;
    padding-top: 1em ;
    margin: 1em;
    box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
}

.allAppointmentsRow{
    display: flex;
    align-items: center;
    width: 25vw;
}

@media (min-width: 768px) and (max-width: 1024px) {
    .allAppointmentsRow{
        width: 40vw;
    }
}

@media (max-width: 768px) {

    .allAppointmentsRow{
        width: 90vw;
    }
    .buttonsRow{
        display: flex;
    }
    .buttonsCol{
        width: 45vw;
        padding: 0;
    }
}

.allAppointmentsLabel{
    background-color: #588454;
    color: white;
    margin-bottom: 0.5em;
    text-align: start;
    font-weight: bold;
    text-align: center;
    padding: 0.1em;
    border-radius: 0.5em;
}

.allAppointmentsInfo{
    background-color: rgb(235, 235, 235);
    margin-bottom: 1em;
    text-align: start;
    padding: 0.1em;
    padding-left: 1em;
    border-radius: 0.5em;
}

.allAppointmentsButtons{
    display: flex;
}