.allTreatmentsDesign{
    min-height: 85vh;
    width: 100vw;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.treatmentCard{
    margin: 1em;
    width: 25vw;
    height: 60vh;
    border-radius: 2em;
    background-color: #F7FFE5;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.treatmentImage{
    height: 35vh;
    background-size: cover;
    border-top-left-radius: 2em;
    border-top-right-radius: 2em;
}

.treatmentTitle{
    text-align: center;
    font-size: large;
    font-weight: bold;
}

@media (min-width: 768px) and (max-width: 1024px) {
    .treatmentCard{
        width: 45vw;
        height: auto;
    }
}

@media (max-width: 768px) {

    .treatmentCard{
        width: 90vw;
        height: auto;
    }
}