.appointmentDetailDesign{
    min-height: 85vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.appointmentDetailContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.appointmentDetailRow{
    display: flex;
    align-items: center;
    width: 50vw;
}

@media (max-width: 768px) {

    .appointmentDetailRow{
        width: 90vw;
    }
}

.appointmentDetailLabel{
    background-color: #588454;
    color: white;
    margin-bottom: 0.5em;
    text-align: start;
    font-weight: bold;
    text-align: center;
    padding: 0.1em;
    border-radius: 0.5em;
}

.appointmentDetailInfo{
    background-color: rgb(235, 235, 235);
    margin-bottom: 1em;
    text-align: start;
    padding: 0.1em;
    padding-left: 1em;
    border-radius: 0.5em;
}